<div ng-controller='AddBlogController as vm'>
  <form style='text-align:center' >
    <h1 style="text-align:center">Add New Blog</h1>
    <md-input-container>
    <label style="text-align:left">Photo</label>
    <input type="text" ng-model="vm.blog.photo">
  </md-input-container>
    <md-input-container>
      <label>Titile</label>
      <input ng-model="vm.blog.title">
    </md-input-container>
    <md-input-container>
      <label>Subject</label>
      <input ng-model="vm.blog.subject">
    </md-input-container>
    <md-input-container>
      <label>Body</label>
      <input ng-model="vm.blog.body">
    </md-input-container>
    <md-button ng-click='vm.PostBlog()' class="md-warn">Post Blog</md-button>
  </form>
</div>
