<div ng-controller='AddProfileController as vm'>

  <h1 style="text-align:center">Add A Profile</h1>
  <form  ng-submit='vm.addProfile()' style="text-align:center">
    <md-input-container>
      <label>User Name</label>
      <input ng-model="vm.profile.memberName">
    </md-input-container>
    <md-input-container>
    <label>Photo Url</label>
    <input ng-model="vm.profile.photo">
  </md-input-container>
  <md-input-container>
    <label>Bio</label>
    <input ng-model="vm.profile.bio">
  </md-input-container>
  <md-input-container>
    <label>Location</label>
    <input ng-model="vm.profile.location">
  </md-input-container>
  <!-- <md-input-container>
    <label>States Visted</label>
    <input ng-model="vm.profile.statevisit">
  </md-input-container> -->
  <md-button type='submit' class="md-warn">Register</md-button>
</form>
</div>
