<div  ng-controller='BlogController as vm'>
  <div style="background-color:#d29b54;" >
    <!--  style="background-color:#d29b54"-->
    <md-content style="margin-left:150px;background-color:#d29b54" class="md-padding" >
      <div   layout="row" layout-wrap>
        <md-card  style="background-color:#cdafa2" flex="80" layout-wrap >
          <!-- <img ng-src="{{s.photo}}" class="md-card-image" alt="{{s.familyName}}" title="{{s.familyName}}"> -->
          <md-card-content flex="100" layout-wrap>
            <div flex="40" layout-wrap>
                <!-- <h2 class="md-title">{{s.familyName}}</h2> -->
            </div>
              <div style='text-align:center' >
                <md-content layout-padding style="background-color:#c7b5af">
                  <h1>{{vm.oneBlog.title}}</h1>
                  <img style="padding-left:-5px" height='400' width='400' ng-src='{{vm.oneBlog.photo}}'>
                  <h3>{{vm.oneBlog.subject}}</h3>
                  <p>{{vm.oneBlog.body}}</p>
                  <h5>{{vm.oneBlog.created}}</h5>
                  <h4>{{vm.oneBlog.createdBy}}</h4>
                    <md-button class="md-raised md-primary" ng-click="showEdit = true" >Edit Blog</md-button>

                    <md-button class="md-raised md-warn" ng-click="vm.deleteBlog(vm.oneBlog)" ng-show='showEdit' >Delete Blog</md-button>
                </md-content>
              </div>


               <!-- show button to add comments -->

          <form ng-submit=''>
          <div layout-align='center' layout="row" >
            <md-button class="md-raised md-primary" ng-show='!vm.Nocomment' ng-hide='vm.YesComment' ng-click='vm.ShowCom()'>Add Comments</md-button>

                    <!-- hide Comment btn but show comment line -->
            <md-button class="md-flat md-warn" ng-show='vm.NoComment'ng-hide='!vm.YesComment' ng-click='vm.HideCom()'>Hide Comments</md-button>
          </div>



                      <!-- Comments -->
            <md-input-container  ng-show='vm.showComment'>
              <input flex  placeholder="Add a comment..."ng-model="vm.comment.body"><br>
            </md-input-container>
            <md-input-container ng-show='vm.showComment'>
              <md-button class="md-raised md-warn" ng-click='vm.addCom()'>Submit</md-button>
            </md-input-container>

          <div id='Comments'>
              <div ng-repeat="c in vm.comment track by $index">
                <h2>{{[$index].body}}</h2>
              </div>
          </div>
          </form>


          </md-card-content>
        </md-card>
      </div>
      <br/>
    </md-content>
  </div>

  <!-- show Comment btn but hide comment line -->





  <!-- Edit Form -->
		<form ng-init='edittedBlog = vm.getCopy(vm.oneBlog);' ng-show='showEdit' ng-submit='vm.editBlog(vm.oneBlog._id, edittedBlog); showEdit = false;'>
    <md-input-container>
			<label>Title</label>
			<input  required class="form-control" type='text'  ng-model='edittedBlog.title' placeholder="{{vm.oneBlog.title}}"/>
    </md-input-container>
    <md-input-container>
			<label>Subject</label>
			<input  class="form-control" type='text'  ng-model='edittedBlog.subject' placeholder="{{vm.oneBlog.subject}}" />
    </md-input-container>
    <md-input-container>
			<label>Body</label>
			<input   class="form-control" type='text' ng-model='edittedBlog.body' placeholder="{{vm.oneBlog.body}}"/>
    </md-input-container>
    <md-input-container>
			<div style="text-align:center">
				<md-button class="md-warn" ng-click='showEdit = false' >Cancel</md-button>
				<md-button type="submit" class="btn btn-success">Submit</md-button>
			</div>
    </md-input-container>
		</form>



</div>
