<div ng-controller='MainController as vm'>
  <div id="wrapper">


    <div class="text-center hmIntro"style="">
      <p style="margin:0 auto;text-align:center"><span id="band">Welcome to the Ebook <i><b>Return to Reality </b></i> by Micah Dunson. This was written in a summary / movie script style. For a short story overview check out the summary at the top!</span></p>
    </div>
  </div>
  <footer class="text-center" style="color:#fff;background:rgb(0,0,0);bottom:0;margin-top:400px;">&copy 2016 Phoja Unlimited LLC. All Rights Reserved</footer>
</div>	<!-- End of MainController -->
