<div ng-controller='ProfileController as vm'>
<md-content style="background-color:#cfb0a0">
  <div>
    <h1 style="text-align:center">Welcome to {{vm.oneProfile.memberName}}'s page!</h1>
    <img style="padding-left:-5px" size='80%' ng-src='{{vm.oneProfile.photo}}'>
    <h3 style="padding:15px"> Location: {{vm.oneProfile.location}}</h3>

    <div style="padding:15px">{{vm.oneProfile.bio}}</div>
    <p style="padding:15px"><span style="font-weight:bold">States Visited: </span>- {{vm.oneProfile.statevisit}}</p>
      <p style="padding:15px"><p>
    <md-button class="md-raised md-primary" ng-click="showEdit = true" >Edit Profile</md-button>
    <md-button class="md-raised md-warn" ng-show='showEdit' ng-click="vm.deleteProfile(vm.oneProfile)" >Delete Profile</md-button>
  </div>
</md-content>
<!-- Edit Form -->
		<form ng-init='edittedProfile = vm.getCopy(vm.oneProfile);' ng-show='showEdit' ng-submit='vm.editProfile(vm.oneProfile._id, edittedProfile); showEdit = false;'>
    <md-input-container>
			<label>Title</label>
			<input  required class="form-control" type='text'  ng-model='edittedProfile.memberName' placeholder="{{vm.oneProfile.memberName}}"/>
    </md-input-container>
    <md-input-container>
			<label>Profile Pic</label>
			<input  class="form-control" type='text'  ng-model='edittedProfile.photo' placeholder="{{vm.oneProfile.photo}}" />
    </md-input-container>
    <md-input-container>
			<label>Subject</label>
			<input  class="form-control" type='text'  ng-model='edittedProfile.location' placeholder="{{vm.oneProfile.location}}" />
    </md-input-container>
    <md-input-container>
			<label>Body</label>
			<input   class="form-control" type='text' ng-model='edittedProfile.bio' placeholder="{{vm.oneProfile.bio}}"/>
    </md-input-container>
    <md-input-container>
			<label>States Visited</label>
			<input  class="form-control" type='text'  ng-model='edittedProfile.statevisit' placeholder="{{vm.oneProfile.statevisit}}" />
    </md-input-container>
    <md-input-container>
			<div style="text-align:center">
				<md-button class="md-warn" ng-click='!showEdit' >Cancel</md-button>
				<md-button type="submit" class="btn btn-success">Submit</md-button>
			</div>
    </md-input-container>
		</form>




</div>
