<div ng-controller='MainController as vm'>
<div id="wrapper">
  <div class="container">
    <div class="text-center">
      <h1 class="h1"> Summary </h1>
      <h5><a href="#" ui-sref='Home' ng-click='nav.pageTop()'>back home</a></h5>
    </div>
  </div>
  <div class="page "style="">
    <p><span id="band">{{vm.summary.text1}}</span></p>
  </div>
</div>	<!-- End of MainController -->
<footer class="text-center" style="color:#fff;background:rgb(0,0,0)">&copy 2016 Phoja Unlimited LLC. All Rights Reserved</footer>
</div>
