<div ng-controller='TwoCtrl as vm'>
  <div id="wrapper">
  <div class="container">
    <div class="text-center">

      <h5><a href="#" ui-sref='Home' ng-click='nav.pageTop()'>back home</a></h5>
      <h1 class="h1"> Chapter Two</h1>
      <span id='bkmk'>Bookmark<br>
        <a href="" ng-click='vm.ON2()'><img id="ON" ng-hide='vm.bookmarkOn'src="/img/bkmk-on.png" alt="bookmark-on" width='35' /></a>
        <a href="" ng-click='vm.OFF2()'><img id="OFF" ng-hide='vm.bookmarkOff'src="/img/bkmk-off.png" alt="bookmark-off" width='35'/></a></span>

    </div>



  </div>

  <div class="page "style="">
    <p><span id="band">{{vm.summary.ChapterTwo}}</span></p>
  </div>
</div>	<!-- End of MainController -->
<footer class="text-center" style="color:#fff;background:rgb(0,0,0)">&copy 2016 Phoja Unlimited LLC. All Rights Reserved</footer>
</div>
